@font-face {
    font-family: 'Inconsolata';
    src: url(./Inconsolata-Regular.ttf);
}
body {
    font-family: 'Inconsolata', monospace;
    font-size: large;
    background-color: #1d1f28;
    color: #fdfdfd;
}
a {
    color: #8897f4;
    font-weight: bold;
}
p {
    max-width: 80ch;
    font-size: 1.1em;
}
